.editor {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 1rem;
}
.header {
    flex: 0 0 auto;
}
.input {
    padding: 1rem;
    flex: 1 1 auto;
    overflow: auto;
    font-size: 18px;
    border: none;
    background: white;
    border-radius: 0.5rem;
}
